.popup__button {
  width: calc(100% - 2 * 22px);
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #000000;
  border-radius: 2px;
  margin-bottom: 25px;
  border: 0;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .popup__button {
    width: calc(100% - 2 * 36px);
    height: 50px;
    margin-bottom: 37px;
  }
}