.profile__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .profile__text {
    align-items: flex-start;
    margin-left: 30px;
  }
}