.popup__text-error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: none;
  color: #FF0000;
  margin-top: 5px;
  box-sizing: border-box;
  min-height: 30px;
}