.popup__image-container {
  margin-top: 136px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 2 * 19px);
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 816px;
  max-height: 75vh;
}

@media screen and (min-width: 768px) {
  .popup__image-container {
    width: calc(100% - 2 * 28px);
  }
}

@media screen and (min-width: 1024px) {
  .popup__image-container {
    margin-top: 90px;
  }
}