.auth__button {
  width: 100%;
  background-color: #FFFFFF;
  color: black;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', Arial, sans-serif;
  border-radius: 2px;
  border: 0;
  margin-top: 173px;
}

.auth__button:hover {
  opacity: .85;
}

@media screen and (min-width: 768px) {
  .auth__button {
    height: 50px;
    margin-top: 216px;
  }
}