.profile__editing {
  height: 18px;
  width: auto;
  margin: 0;
  position: absolute;
  right: -36px;
  top: 7px;
}

@media screen and (min-width: 768px) {
  .profile__editing {
    right: -40px;
    top: 18px;
    width: 24px;
  }
}