.profile__full-name {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 189px;
}

@media screen and (min-width: 768px) {
  .profile__full-name {
    font-size: 42px;
    line-height: 48px;
    max-width: 293px;
  }
}